body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    margin: 0;
    display: flex;
    align-items: baseline;
  }
  .top {
    margin-right: 20px;
  }
  #h1 {
    color: #333; /* Default text color */
    transition: color 0.3s ease; /* Adding a smooth transition effect */
    margin: 0;
  }
  #h1:hover {
    color: #b03434; /* Color on hover */
  }
  h5 {
    text-align: left;
  }
  .tabs {
    display: flex;
  }
  .tabs a {
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
  }
  .content {
    padding: 20px;
  }
  .photo-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
  }
  .photo {
    position: relative;
    overflow: hidden;
  }
  .photo img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .photo:hover img {
    transform: scale(1.1);
  }
  .photo .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    float: right;
  }
  .photo:hover .text-overlay {
    opacity: 1;
  }
  .photo:hover .text-overlay {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  #letstalk {
    text-align: right;
    margin-right: 20px;
  }
  .container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .top {
    margin-right: 20px;
  }
  #h1 {
    color: #333; /* Default text color */
    transition: color 0.3s ease; /* Adding a smooth transition effect */
    margin: 0;
  }
  #h1:hover {
    color: #b03434; /* Color on hover */
  }
  h5 {
    text-align: left;
  }
  .header:hover {
    color: #b03434; /* Color on hover */
  }
  p {
    line-height: 1;
    margin: 12px 0;
    margin-left: 36px;
    margin-right: 36px;
  }
  #desc {
    direction: rtl;
    line-height: 1;
    margin: 12px 0;
    text-align: right;
    margin-right: 60px;
    margin-right: 60px;
  }
  #bbb {
    max-width: 85%; /* Set the maximum width to the container width */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
  }